fastapi
uvicorn
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
pydantic
pydantic-settings
python-dotenv
gunicorn
supabase
pydantic[email]
Pillow
requests
pytest
pytest-asyncio
httpx
